.KeyboardMenu {
               background: rgb(205, 204, 232);
               transform: scale(0.8);
               border: 1px solid;
               position: absolute;
               height: 75px;
               width: 200px;
               overflow: auto;
               bottom: 11px;
               right: 80px;
           }
           .KeyboardMenu button {
               display: flex;
               align-items: center;
               width: 70px;
               text-align: center;
               -webkit-appearance: none;
               border: solid 1px;
               background: rgb(247, 247, 255);
               height: 21px;
               cursor: pointer;
               font-family: inherit;
               padding: 1px;
               font-size: 12px;
               margin: 3px ;
           }
           .KeyboardMenu button:focus {
               background: rgb(209, 240, 255);
               outline: 0;
           }
           .KeyboardMenu .option {
               position: absolute;
           }
           .KeyboardMenu .right {
               position: absolute;
               top: 0;
               bottom: 48px;
               left: 75px;
               font-size: 12px;
               display: flex;
               align-items: center;
               padding-right: 3px;
           }
           
           .DescriptionBox {
             position: absolute;
             bottom: 0;
             left: 0;
             right: 0;
             color: rgb(0,0,0);
             border: 1px solid rgb(0,0,0);
             background: var(--menu-background);
             padding: 2px;
           }
           
           .DescriptionBox p {
            font-size: 10px;
            text-align: center;
            margin: 0;
           }